.attractions {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 960px;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.attraction {
  background-color: #fff;
  box-shadow: 0 1px 10px 1px rgba(#000, 0.25);
  color: $blue;
  display: inline-block;
  overflow: hidden;
  margin: 25px 2%;
  position: relative;
  width: 45%;
  opacity: 0;
  transform: scale(0.5);
  transition: all ease-in 0.5s;

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  @media screen and (max-width: 650px) {
    float: none;
    display: block;
    margin: 25px auto;
    width: 85%;
  }

  &__image {
    border-bottom: 5px solid $blue;
    font-size: 0;
    
    & > img {
      max-width: 100%;
    }
  }

  &__content {
    padding: 25px 35px;
    position: relative;
  }

  &__header {
    position: relative;
    text-align: center;

    & > h2 {
      margin: 0;

      & > i {
        float: right;
        cursor: pointer;
      }
    }
  }

  &__category {
    border-radius: 3px;
    background-color: $blue;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    padding: 5px 15px;
    margin: 10px;
    margin-bottom: 0;
  }

  &__address {
    padding: 15px 0;
    padding-bottom: 0;
    line-height: 1.5;
    text-align: center;
  }

  &__footer {
    border-top: 5px solid $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  &__price {
    background-color: $blue;
    border-radius: 50%;
    color: #fff;
    margin: 0;

    &--1 {
      padding: 15px 20px;
    }

    &--2 {
      padding: 15px;
    }

    &--3 {
      padding: 15px 10px;
    }

    &--4 {
      padding: 15px 5px;
    }

    &--empty {
      background-color: transparent;
      padding: 24.25px;
    }
  }

  & .reveal {
    background-color: rgba(#fff, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 1s;

    &.active {
      transform: translateY(0);
    }

    &__close {
      color: #333;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 300;
      float: right;
      margin: 5px;
    }
  }
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  color: $blue;
}

.br-theme-fontawesome-stars-o .br-widget a {
  font-size: 32px;
}