.categories {
  list-style: none;
  display: inline-block;
  overflow: auto;
  margin: 35px 0;

  &__container {
    text-align: center;
  }

  &::after {
    display: table-cell;
    clear: both;
  }
}

.category {
  cursor: pointer;
  border-radius: 3px;
  float: left;
  font-size: 1.15rem;
  font-weight: 100;
  padding: 5px 25px;
  margin: 0 15px;
  text-transform: uppercase;

  &:hover {
    padding: 5px 25px;
    background-color: rgb(148, 148, 148);
  }

  &.active {
    padding: 5px 25px;
    background-color: $dark;
  }
}