.header-bar {
  background-color: rgba($blue, 0.75);
  font-size: 1rem;
  padding: 25px 50px;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }

  &__logo {
    font-weight: 300;
    margin: 0;

    @media screen and (max-width: 650px) {
      font-size: 1.5rem;
    }
  }

  & .back-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
    
    & > i {
      font-size: 2rem;
    }
  }
}