.screen {
  display: none;
  height: 100vh;

  &.home {
    background: url('/assets/background.png') 50% 50% no-repeat / cover;
    padding: 50px 0;

    @media screen and (min-width: 700px) {
      padding: 75px 0;
    }
  }
}
